/* @font-face {
    font-family: 'Futura Hv BT';
    src: url('../Futura-Book-Font/FuturaRegular.otf') format('truetype') !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    /* font-family: 'Futura Hv BT'; */
    font-family: 'Montserrat', sans-serif !important;
}

:root {
    --color-1: rgba(255, 255, 255, 0.87);
    --color-2: rgba(255, 255, 255, 0.57);
    --color-3: #FFFFFF;
    --color-4: #B21490;
    --color-5: #202D35;
    --color-6: #9947E2;
    --color-7: #ECECEC;
    --color-8: #FC466B;
    --color-9: #1E201F;
    --color-10: #161817;
    --color-11: #575757;
    --color-12: #3531b1;
    --color-13: #4072EA;
}

body {
    background: var(--color-9) !important;
    color: var(--color-1) !important;
}

.dropdown_bg_clr {
    background: var(--color-9) !important;
    position: relative;
    z-index: 100;
}

.heroSection {
    background: url('../images/aboutHero.png');
    background-size: cover;
}

.navItem a {
    list-style: none;
    color: var(--color-3);
}

.navItem a:hover {
    color: var(--color-1);
}

.navItem a:active {
    color: var(--color-6);
}

.requestBtn {
    border-radius: 0px;
    background-color: var(--color-6);
    /* width: 224px; */
    height: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-3);
}

.requestBtn:hover {
    background: var(--color-4);
    color: var(--color-1);
    transition: 0.3s;
}

.myNvabar {
    position: relative;
    z-index: 1;
}

.aboutText {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 69px;
    /* identical to box height, or 172% */

    letter-spacing: 0.1em;

    /* High Wte */

    color: var(--color-1);
    padding-bottom: 10rem;
}

.fos1 {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.1em;

    /* Med Wte */

    color: var(--color-2);
}

.bg1 {
    background-color: var(--color-9);
    margin-top: -8px
}

.bg3 {
    background-color: var(--color-9);
    margin-top: -16px
}

.fos2 {
    font-family: 'Futura Hv BT';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    /* High Wte */

    color: var(--color-1);
}

.aImg {
    border-radius: 10px;
    width: 100%;
}

.bg2 {
    background-color: var(--color-10);
    margin-top: -8px
}

.fos3 {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.1em;

    /* Med Wte */

    color: var(--color-2);
}

.fos4 {

    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* High Wte */

    color: var(--color-1);


}

.fos5 {
    font-family: 'Futura Lt BT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    /* Med Wte */

    color: var(--color-2);
}

.bgImage {
    background: url('../images/quoteImg.png');
    background-size: cover;
    margin-top: -8px;
}

.fos6 {
    font-family: 'Futura Bk BT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.25em;

    /* High Wte */

    color: var(--color-1);
}

.quoteBtn {
    background: var(--color-3);
    border-radius: 10px;
}

.quoteBtn:hover {
    background: var(--color-4);
    color: var(--color-1);
    transition: 0.3s;
}

@media only screen and (max-width: 768px) {

    /*Big smartphones [426px -> 600px]*/
    .requestBtn {
        position: relative;
        white-space: nowrap;
    }

    .aImg {
        width: 100%;
    }
}

/* join our team css */
.viewJob {
    background: var(--color-6);
    border-radius: 10px;
    color: #fff;
}

.viewJob:hover {
    background: var(--color-4);
    color: var(--color-1);
    transition: 0.3s;
}

.jobText {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 69px;
    /* identical to box height, or 172% */

    letter-spacing: 0.1em;

    /* High Wte */

    color: var(--color-1);

}

.pImg {
    width: 100%;
}

/* service page css */
.sbg1 {
    background: url('../images/servicebg.png');
    background-size: cover;

}

/* contact page css */
.contactBg {
    background: url('../images/contactbg.png');
    background-size: cover;
}

.fos8 {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    /* High Wte */

    color: var(--color-1);
}

.gCard {
    background: var(--color-3);
    border-radius: 10px;
    width: 279px;
    height: 104px;
}

.fos9 {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* High Blk */

    color: var(--color-1);
}

.paara {
    font-family: 'Futura Lt BT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    /* identical to box height */


    /* High Blk */

    color: var(--color-1);

}

.fos10 {
    font-family: 'Futura Lt BT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* High Blk */

    color: var(--color-1);
}

.fos11 {
    /* Head */

    font-family: 'Futura Hv BT';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    /* High Wte */

    color: var(--color-1);
}

.cInput {
    background: var(--color-9);
    border-radius: 10px;
    border: none;
}

.subBtn {
    background: var(--color-13);
    border-radius: 10px;
    color: var(--color-3);
    font-weight: 400;
}

.subBtn:hover {
    background: var(--color-4);
    color: var(--color-1);
    transition: 0.3s;
}

/* ======Header Logo css start========== */
.eeb_logo {
    width: 95px;
    margin-left: 30px;
}

@media(max-width:768px) {
    .eeb_logo {

        margin-left: 5px;
    }

}

/* ======Header Logo css End========== */

/* ========= Footer About Us Start ======= */
.footer_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.footer_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.my_logo {
    width: 182px;
    height: 67px;
    background: var(--color-7);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_title {
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.1em;
}

.footer_img_gallery {
    display: flex;
    justify-content: center;
    border-radius: 10px 0px 0px 0px;
}

.footer_card {
    width: 80px;
    height: 80px;
    border-radius: 10px 0px 0px 0px;
}

.get_a_quote_btn {
    background: var(--color-6);
    color: var(--color-1);
    border-radius: 10px;
    padding: 10px 20px;
    width: 150px;
    height: 41px;
    border: none;
}

.get_a_quote_btn:hover {
    background: var(--color-4);
    color: var(--color-1);
    transition: 0.3s;
}

.footer_navbar nav a {
    color: var(--color-1);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.footer_navbar nav a:hover {
    color: var(--color-6);
    transition: 0.3s;
}

.my_btm_bdr {
    margin: 0px 10px;
    border: 1px solid var(--color-3);
}

.footer_copy_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
}

/* ========= Footer About Us End ======= */

/* ======== Footer Meida Quiry 520px ========== */
@media screen and (max-width:520px) {

    .footer_img_gallery {
        justify-content: start;
    }

}